# Python
venv/
.venv/
backend/venv/
__pycache__/
*.pyc

# Node
node_modules/
frontend/node_modules/

# Environment files
.env
.env.local

# Build folders
dist/
build/

# IDE
.vscode/

# OS
.DS_Store
Thumbs.db

# Logs
*.log